.taskInput {
    border: 3px solid black;
    margin-bottom: 10px;
    background-color: #502419;
    font-size: 3vh;
    border-radius: 4vh;
    margin: 2vw;
    padding: 1.5vw;
}
.todoSection {
    border: 2px solid black;
    background-color: #E7A977;
    text-align: -webkit-center;
    border-radius: 4vh;
    max-height: 41vh;
    margin: 2vw;
    padding: 2vw;
}
.todoList {
    overflow-y: scroll;
    max-height: 33vh;
    margin: 2px;
}
.todo {
    border: 1px solid black;
    margin: 0em 0.5em 0.2em 0.5em;
    background-color: #502419;
    width: 50vw;
    padding: 2vh;
    font-size: 3vh;
    border-radius: 4vh;
    box-shadow: 2px 3px;
}
h3 {
    position: sticky;
    top: 0;
}
.timeStamp {
    display: block;
    font-size: 65%;
}