<div id="inputPart">
<form class="taskInput">
    <input #newTask (keyup.enter)="addTask(newTask.value)">
    <button (click)="addTask(newTask.value)">TaskToDo</button>
</form>
</div>
<div class="MainPart">
<div class="section">
    <h3>ToDoSection</h3>
    <div class="list">
        <div id="flist" class="task" *ngFor="let Task of Tasks;">{{ Task }} <span class="timeStamp"> {{ today | date }} <input type="checkbox" (change)="onGoing()"></span>
    </div>
    <button (click)="deleteAll()">delete</button>
</div>
</div>

<div class="section">
        <h3>WIPSection</h3>
        <div class="list">
            <div id="wlist" class="task" *ngFor="let Task of wipTasks;">{{ Task }} <span class="timeStamp"> {{ today | date }} <input type="checkbox" (change)="done()"></span></div>
        </div>
        <button (click)="deleteAllWip()">delete</button>
    </div>

    <div class="section">
        <h3>DoneSection</h3>
        <div class="list">
            <div id="dlist" class="task" *ngFor="let Task of doneTasks;">{{ Task }} <span class="timeStamp"> {{ today | date }} <input type="checkbox" (change)="done()"></span></div>
        </div>
        <button (click)="deleteAllDone()">delete</button>
    </div>
</div>